* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; 
  font-family: "Poppins", sans-serif; 
  /* change font???? */
}


:root {
  --primary-color: #74a4b3;
  --primary-color-dark: #9fcad4;
  --text-dark: #0f172a;
  --text-light: #f9f9f9a4;
  --white: #ffffff;
  --extra-light: #a0b4ba;
}




/* Start Navegation Bar */

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
  box-shadow: 5px 5px 20px rgba(81, 81, 81, 0.1);

}

.navLogo img{
width: auto;
height: 60px;
padding: 12px;
  
  
}

.navBar, .navLink {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 45px;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.navLink, a {
  text-decoration: none;
  color: var(--text-light);
  color: black;
    
}

nav.Link, a:hover {
  color: var(--primary-color);
    
}


.btnContact {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 0.75rem 2rem;
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 32px;
  margin-right: 10px;
}

.btnContact:hover {
  background-color: var(--primary-color-dark);
}
/* Finish Favegation Bar */


/* Start Hero */

.hero {
padding: 80px;
}

.heroContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
    
}
.heroTitle {
  text-align: center;
  font-size: 40px;
  
}

.sliderItem > img {
  width: 100%; 
  height: 400px;
  object-fit: cover;
}
/* Finish Hero */


/* Start cardContainer Lastest Trips */

.travellersTitle {
  text-align: center;
}

.travellersContainer {
  max-width: 1200px;
  margin: auto;
}



img {
  width: 100%;
  display: flex;
}



.travellersGrid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.travellersCard {
  border-radius: 80px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

/* test
.travellersCard:hover {
  transition-duration: 2s;
  transition-property: margin-right, color;
} */

.travellersCardContent {
  position: relative;
  text-align: center;
  padding: 40px;
}

.travellersCardContent img {
  position: absolute;
  max-width: 70px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--extra-light);
  border-radius: 100%;
}

.travellersCardContent h3 {
  padding-top: 10px;
  margin-top: 16px;
  font-size: 18em;
  font-weight: 600;
  color: var(--text-dark);
}

.travellersCardContent p {
  font-weight: 500;
  color: var(--text-dark);
}
/* Finish cardContainer Lastest Trips */

/* Start Map "Location" */
.mapLocation{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mapLocationImage {
  padding: 100px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3))
}
/* Finish Map "Location" */


/* Start Subscribe Form */



/* Finish Subscribe Form */

footer {
  position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   padding: 16px;
}


/* Start AboutUs VIEW */
.aboutContainer {
  padding: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutTitle {
  padding: 40px;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutContent p {
  margin-left: 20px;
}

.aboutContent img {
  border-radius: 10px;
  width: 50%;
}
/* Finish AboutUs VIEW */

/* Start ADD Location VIEW */
  .formContainer {
    padding: 100px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .formTitle {
    padding: 40px;
  }

  .formContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 

/* Finish ADD Location VIEW */
