* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #5c7cdb;
    --primary-color-dark: #354e9c;
    --text-dark: #0f172a;
    --text-light: #64748b;
    --white: #ffffff;
    --extra-light: #f1f5f9;
}




/* Start Navegation Bar */



.navBar {
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    
}

.navLogo {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}

.navBar > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}

nav.Link, a {
    text-decoration: none;
    color: var(--text-light);
}

nav.Link, a:hover {
    color: var(--primary-color-dark);
}


.btnContact {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 0.75rem 2rem;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 2rem;
}

.btnContact:hover {
    background-color: var(--primary-color-dark);
}
/* Finish Favegation Bar */


/* Start Header */
.headerContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    
}
.headerTitle {
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    font-family: Poppins, sans-serif;
}

.sliderItem > img {
    width: 100%; 
    height: 400px;
    object-fit: cover;
}
/* Finish Header */


/* Start cardContainer Lastest Trips */

.latestTripsTitle {
    text-align: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}

.card {
    border-radius: 10px;
    border: solid 2px black;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.card > img {
    border-radius: 10px;
    width: 200px;
}

.cardInfo {
    text-align: center;

}



/* Finish cardContainer Lastest Trips */



footer {
    display: block;
    text-align: center ;
}


