@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #9fcad4;
  --primary-color-dark: #74a4b3;
  --text-dark: #0f172a;
  --text-light: #f9f9f9a4;
  --white: #ffffff;
  --extra-light: #a0b4ba;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1000;
  box-shadow: 5px 5px 20px rgba(81, 81, 81, 0.1);
}

.navLogo img{
  width: auto;
  height: 60px;
  padding: 12px;
  cursor: pointer;  
}

.navLink {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 35px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-dark);
  padding-right: 20px;
}

.navLink a {
  text-decoration: none;
  color: var(--text-light);
  color: var(--text-dark); 
  transition: all 0.4s ease;
}

.nav.Link, a:hover {
  color: var(--primary-color); 
}

.mobileIcon {
  visibility: hidden;
}

@media screen and (max-width: 699px) {
  .hideLetter {
    visibility: hidden;
  }

  .hideIcon {
    visibility: hidden;
  }

  .navLogo {
    visibility: hidden;
  }

  .mobileIcon {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 35px;
    padding-right: 20px;
    visibility: visible;
    cursor: pointer;
  }


}

.hero {
  padding-top: 80px;
}

.heroContainer {
  width: 100%;
  max-width: 1200px;
  margin: auto;
    
}
.heroTitle {
  text-align: center;
  font-size: 40px;
}

.heroContainer > img {
  width: 100%; 
  height: 400px;
  object-fit: cover;
}

.travellersTitle {
  padding-top: 20px;
  text-align: center;
}


.travellersContainer {
  max-width: 1200px;
  margin: auto;
  cursor: pointer;
}

.travellersGrid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media screen and (max-width: 699px) {
  .travellersGrid img {
    max-width: 300px;
    max-height: 300px;
  }

  .travellersGrid {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }  
}

.travellersCard {
  border-radius: 80px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  color: black;

  
}

.travellersCard:hover {
  -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.travellersCardContent {
  position: relative;
  text-align: center;
  padding: 40px;
}

.travellersCardContent img {
  position: absolute;
  max-width: 70px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--extra-light);
  border-radius: 100%;
}

.travellersCardName {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-dark);
}

.travellersCardCity {
  display: flex;
  justify-content: center;
  font-weight: 600;
  color: var(--text-dark);
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
  visibility: hidden;
}

.mapboxgl-marker {
  cursor: pointer;
}

.mapLocation{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mapLocationImage {
  padding-top: 20px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3))
}

.formTipsContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.formTipsTitle {
  padding: 10px;
  text-align: center;
}

.formTipsContent{
  display: flex;
  justify-content: center;
}

input, textarea {
  display: flex;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  position: relative;
  width: 100%;
  background-color: #9fcad4;
  color: white;
  text-align: center;
  padding: 10px;
}

.iconFooter {
  width: 30px;
  margin: 10px;
}

.footerC {
  font-size: small;
}

.aboutContainer {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutTitle {
  text-align: center;
  padding: 40px;
}

.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutText {
  padding: 20px;
  align-items: center;
}

.aboutImage {
  border-radius: 10px;
  width: 200px;
}

@media screen and (max-width: 699px) {
  .aboutContent {
    display:flex;
    flex-wrap: wrap;
  }

  .aboutImage {
    display: flex;
    justify-content: center;
  }

  .aboutText {
    padding: 20px;
  }
}

.formContainer {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
  }

.formTitle {
  padding: 40px;
  text-align: center;
}

.formContent {
  display: flex;
  justify-content: center;
  appearance: none;
}

 input, textarea {
  appearance: none;
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btnSubmit {
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: var(--primary-color);
}

.btnSubmit:hover {
  
  background-color: var(--primary-color-dark);
}

.sliderTraveler {
  padding: 20px;
}
  
.sliderContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

  
.sliderItem > img  {
  width: 100%; 
  height: 400px;
  object-fit: contain;
}

@media screen and (max-width: 699px) {
  
  .detailContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}

.detailContainer {
  padding-top: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.detailTitle {
  text-align: center;
  padding: 5px;
}

.detailContentText {
  line-height: 25px;
  white-space:  pre-line;
  vertical-align: bottom;
}

.detailContent {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, var(--primary-color-dark), var(--primary-color));
  color: var(--white);
  border-radius: 20px;
  padding: 10px 60px;
}

.weatherIcon {
  width: 70px;
  display: flex;
  
}

.weather h1 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5 40px;
  margin-top: 20px;
}

.col {
  display: flex;
  align-items: center;
}

.col img {
  width: 40px;
  margin-right: 15px;
}

.humidity, .wind {
  font-size: 20px;
  padding: 5px;
}

.forecastContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.forecast {
  color: var(--white);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  text-indent: 6px;
}

.forecastContent {
  background: linear-gradient(200deg, var(--primary-color), var(--primary-color-dark));
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 699px) {
  .forecastContainer {
    display: flex;
    padding: 10px;
  }

  .forecast {
    color: var(--white);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    text-indent: 2px;
    gap: 5px;
  }

  .forecastContent {
    width: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mapBoxContainer {
  padding: 20px;
  height: 500px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mapDetail {
  padding: 20px;
  height: 500px;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.page404Container {
  text-align: center;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}

.imgPageNotFound {
  padding-top: 20px;
  width: 500px;
}






